### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [58]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "/Users/ebk/documents/github/pandas-hw/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [59]:
players_sum= purchase_data.loc[:, ["Gender","SN", "Age"]]
players_sum = players_sum.drop_duplicates()
players_sum.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [60]:
players_count = len(purchase_data["SN"].unique())
pd.DataFrame({"Total Players": [players_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
num_of_unique_items=len(purchase_data["Item ID"].unique())
num_of_unique_items
average_price=purchase_data["Price"].mean() 
average_price
num_of_purchases=purchase_data["Price"].count() 
num_of_purchases
total_revenue=purchase_data["Price"].sum() 
total_revenue

purchasing_analysis=pd.DataFrame({"Number of Unique Items ":[num_of_unique_items],
                            "Average Price" : [average_price],
                            "Number of Purchases": [num_of_purchases],
                            "Total Revenue" : [total_revenue]}).round(2).style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})
purchasing_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
total_count = players_sum["Gender"].value_counts()
percentage_of_players = total_count/players_count * 100
gender_demographics = pd.DataFrame({"Total Count": total_count,
                                    "Percentage of Players": percentage_of_players}).round(2)
gender_demographics

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
purchase_count=purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count
avg_purchase_price=purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
avg_purchase_price
total_purchase_value=purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value
avg_purchase_total_pp=total_purchase_value/total_count
avg_purchase_total_pp

purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Value": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                     "Avg Total Purchase Per Person": avg_purchase_total_pp}).style.format({"Total Purchase Value":"${:,.2f}"
                                                                                                            ,"Average Purchase Value":"${:,.2f}"
                                                                                                            ,"Avg Total Purchase Per Person":"${:,.2f}"})
purchasing_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
players_sum["Age Ranges"] = pd.cut(players_sum["Age"], age_bins, labels=group_names)
players_sum.head()

  Gender             SN  Age Age Ranges
0   Male        Lisim78   20      20-24
1   Male    Lisovynya38   40        >40
2   Male     Ithergue48   24      20-24
3   Male  Chamassasya86   24      20-24
4   Male      Iskosia90   23      20-24

In [65]:
age_demographics = players_sum["Age Ranges"].value_counts()
age_demographics_percents = (age_demographics/players_count * 100).round(2)

age_demographics_df = pd.DataFrame({"Total Count": age_demographics, 
                                 "Percent of Players": age_demographics_percents})
age_demographics_df

       Total Count  Percent of Players
20-24          258               44.79
15-19          107               18.58
25-29           77               13.37
30-34           52                9.03
35-39           31                5.38
10-14           22                3.82
<10             17                2.95
>40             12                2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# Bin the Purchasing Data by age
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Run basic calculations
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
avg_total_age_pp = age_purchase_total / age_demographics_df["Total Count"]


# Summary Data
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average,
                         "Total Purchase Value": age_purchase_total ,
                         "Average Total Purchase Per Person": avg_total_age_pp}).style.format({"Total Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Average Total Purchase Per Person":"${:,.2f}"})
age_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
number_of_users = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Amount")
average_users = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

top_spenders = pd.DataFrame({"Purchase Count": user_count,
                              "Average Purchase Price": average_users,
                            "Total Purchase Amount": number_of_users,})

top_spenders.sort_values("Total Purchase Amount", ascending=False).head(5).style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Amount":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
items_group = items.groupby(["Item ID","Item Name"])
items_purchase_count = items_group["Price"].count()
purchase_value = (items_group["Price"].sum()) 
items_price = purchase_value/items_purchase_count


most_popular_items = pd.DataFrame({"Purchase Count": items_purchase_count, 
                                   "Item Price": items_price,
                                   "Total Purchase Value":purchase_value})
most_popular_items
form_most_popular_items= most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
form_most_popular_items.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [69]:
form_most_popular_items = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
form_most_popular_items.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})